.container-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block-produtos {
    margin: 1.2rem 1.6rem;
    border-radius: .8rem;
    border: 1px solid #137B90;
}

.img-produtos {
    width: 350px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.8rem auto;
    border-radius: .4rem;
}

.text-produtos {
    text-align: center;
    font-size: 1.2rem;
}

.btn-produtos {
    display: flex;
    text-align: center;
    margin: 1.6rem auto;
    border-radius: .8rem;
    padding: 1.2rem;
    color: white;
    background-color: #137B90;
    cursor: pointer;

    transition: 0.2s;
}

.btn-produtos:hover {
    background: #137B90;
    transform: scale(1.02);
    border: 1px solid black;
}