* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

html,
body {
  height: 100vh;
}

header {
    width: 100vw;
    height: 250px;
    background-color: #8257E5;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
}

header h1 {
    font-size: 2.4rem;
}

section {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

footer {
    width: 100vw;
    height: 200px;
    height: auto;
    background-color: #FAFAFC;
    color: #8257E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4)
}